<div class="btn-blue">
<span class="btn-create"> <%= link_to "Create a card", new_car_path %> </span>
</div>


<div class="cards card-layout">
  <ul>
    <% @cars.each do |car| %>
      <a href="cars/<%= car.id %>">
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1561580125-028ee3bd62eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlc2xhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" />
          <div class="card-product-infos">
          <div class="fuel"><p><%= car.fuel %></p></div>
          <div class="brand"><h2><%= car.brand %></h2></div>
          <div class="description"><p> <%= car.description %></p></div>
          <h4 class="price"><%= car.price %> <strong>CHF</strong></h4>
          </div>
        </div>
      </a>
    <% end %>
  </ul>
</div>
