<div class="row featurette" id="featurette">
  <div class="col-md-5 meme" id="colonne-img">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: auto;" src="https://images.unsplash.com/photo-1561580125-028ee3bd62eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlc2xhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=6" data-holder-rendered="true">
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading"><%= @car.brand %></h2>
    <p class="text-muted"><%= @car.fuel %></p>
    <p class="lead"><%= @car.description %></p>
    <div class="info-price-btn">
      <p class="price-car"><%= @car.price %> CHF </p>
      <p><%= link_to "Book now", new_car_reservation_path(@car), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
